@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@font-face {
  font-family: "Campton";
  src: url(fonts/Rene\ Bieder\ -\ Campton\ Bold.otf);
}
.main-banner {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
.main-banner .banner-activation {
  width: 100%;
  height: 50vh;
  position: relative;
  top: 0;
}
.main-banner .banner-activation img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin: 0;
}
.main-banner h1 {
  position: relative;
  color: white;
  margin: auto;
  font-family: "Campton";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  bottom: 10%;
}
.main-banner .quote-activation {
  width: 40%;
  margin: 0;
  position: relative;
  left: 50%;
}
.main-banner .quote-activation .text-quote {
  font-family: "Campton";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-align: right;
  letter-spacing: -0.05em;
}

.main-container {
  width: 80%;
  height: 200vh;
  margin: auto;
  background-color: black;
  position: relative;
  top: 0;
}

.main-medsos {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #FB5C3E;
}
.main-medsos .p1 {
  padding: 10px;
  margin: 0;
  font-family: "Campton";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  color: white;
  text-align: center;
}

.banner-about {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
.banner-about .box-about {
  width: 100%;
  position: absolute;
  height: 200vh;
  left: 0px;
  top: 53%;
  background: linear-gradient(180deg, rgba(55, 135, 2, 0) 0%, #378702 23.28%, #378702 47.59%, #FB5C3E 127.87%);
}
.banner-about img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
  top: 0;
  z-index: -1;
}

.main-about {
  width: 80%;
  position: relative;
  height: auto;
  left: 0px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.main-about .about-img {
  width: 100%;
}
.main-about .about-img img {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: relative;
  left: 30%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.main-about .about-desc {
  width: 80%;
  margin: auto;
}
.main-about .about-desc li {
  padding: 0 10px;
  margin: 0;
  font-family: "Campton";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.main-contact {
  width: 100%;
  height: auto;
  background: rgba(255, 178, 130, 0.4);
  position: absolute;
  top: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-contact .contact-form {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px;
  left: 5%;
}
.main-contact .contact-form label {
  padding: 10px;
  margin: 0;
  font-family: "Campton";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  display: inline;
}
.main-contact .contact-form input {
  width: 80%;
  height: 50px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
.main-contact .contact-form textarea {
  width: 80%;
  height: 300px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
.main-contact .contact-form input[type=submit] {
  background-color: #FB5C3E;
  color: white;
  padding: 12px 20px;
  margin: 50px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  width: 30%;
}
.main-contact .contact-side {
  position: relative;
  width: 100%;
}
.main-contact .contact-side h2 {
  position: relative;
  color: #464646;
  font-weight: 500;
  font-size: 80px;
  line-height: 100px;
}
.main-contact .contact-side img {
  position: relative;
  mix-blend-mode: multiply;
  width: 70%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  bottom: 10%;
}

.cgi-container {
  width: 80%;
  height: 80vh;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.cgi-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.gallery-banner {
  width: 100%;
  height: auto;
  position: relative;
  padding: 50px;
  margin-bottom: 50px;
}
.gallery-banner h2 {
  width: 50%;
  text-align: right;
  position: relative;
  color: #464646;
  right: 0;
  margin-left: 30%;
  top: 100px;
}

.con-metaverse {
  width: 80%;
  height: auto;
  margin: auto;
  position: relative;
  top: 0;
}
.con-metaverse h2 {
  font-size: 80px;
  color: #464646;
  text-align: center;
}
.con-metaverse .h2-orange {
  font-size: 80px;
  color: #FB5C3E;
  text-align: center;
}
.con-metaverse .metaverse-row {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  top: 0;
  -moz-columns: 3 250px;
       columns: 3 250px;
  gap: 15px;
  display: flex;
  border-radius: 10px;
}
.con-metaverse .metaverse-row video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}
.con-metaverse .metaverse-bts {
  width: 100%;
  height: 70vh;
  margin: 15px 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-bottom: 50px;
}
.con-metaverse .metaverse-bts video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}
.con-metaverse .con-digiban {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  top: 0;
  -moz-columns: 4 250px;
       columns: 4 250px;
  gap: 15px;
  border-radius: 10px;
  margin: 50px 0;
}
.con-metaverse .con-digiban video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  margin: 15px 0;
}

.main-details {
  width: 100%;
  height: auto;
  top: 0;
  position: relative;
}
.main-details img {
  width: 100%;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
}
.main-details .desc-details {
  width: 80%;
  height: 25vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.main-details .desc-details .head-details {
  width: 30%;
  font-family: "Campton", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 81px;
  letter-spacing: -0.05em;
  color: #FB5C3E;
}
.main-details .desc-details .p2 {
  width: 50%;
  color: black;
}

.cont-details {
  width: 80%;
  height: auto;
  margin: auto;
  position: relative;
}
.cont-details .big-details {
  -moz-column-span: all;
       column-span: all;
  width: 75%;
  height: 70vh;
  right: 25%;
}
.cont-details .big-details img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.cont-details .details-colomn {
  width: 100%;
  -moz-columns: 3;
       columns: 3;
  gap: 15px;
  position: relative;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.cont-details .details-colomn img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 210px;
  line-height: 244px;
  letter-spacing: -0.1em;
  color: white;
}

.h1-ungu {
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 210px;
  line-height: 244px;
  letter-spacing: -0.1em;
  color: #3E203A;
}

h2 {
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 116px;
  letter-spacing: -0.05em;
  color: white;
  margin: 0;
  padding: 20px 0;
}

.h2-ungu {
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 116px;
  letter-spacing: -0.05em;
  color: #3E203A;
  margin: 0;
  padding: 20px 0;
}

.h2-orange {
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 116px;
  letter-spacing: -0.05em;
  color: #FB5C3E;
  margin: 0;
  padding: 20px 0;
}

.p1 {
  padding: 10px;
  margin: 0;
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: white;
}

.p1-ungu {
  padding: 10px;
  margin: 0;
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: #3E203A;
}

.p2 {
  padding: 10px;
  margin: 0;
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.p2-orange {
  padding: 10px;
  margin: 0;
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FB5C3E;
}

.p3 {
  padding: 10px;
  margin: 0;
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

/*-------------- navigation -------------- */
.header {
  min-height: 100vh;
  width: 100%;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 20px 0;
  height: 80px;
}
.header nav .nav-logo {
  width: 100px;
  padding: 0 6%;
  align-items: center;
}
.header nav .nav-logo a img {
  width: 90px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  position: relative;
  transition: 0.2s ease;
}
@media (max-width: 700px) {
  .header nav .nav-logo a img {
    width: 70px;
    height: auto;
  }
}
.header .nav-link {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.header .nav-link .fa-solid {
  display: none;
  color: white;
  position: relative;
  width: auto;
  padding: 20px;
  font-size: 22px;
  right: 30%;
}
.header .nav-link ul {
  padding: 0;
}
.header .nav-link ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
}
.header .nav-link ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.header .nav-link ul li .services-list {
  display: none;
  position: absolute;
  background: #3E203A;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px 6px;
  row-gap: 2px;
  border-radius: 0 0 5% 5%;
}
.header .nav-link ul li .services-list a {
  padding: 8px 12px;
  text-align: left;
  -moz-column-gap: 2px;
       column-gap: 2px;
  font-weight: 500;
  color: white;
}
.header .nav-link ul li:hover .services-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
}
.header .nav-link ul li:hover .services-list a:hover {
  color: #FB5C3E;
}
.header .nav-link ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  margin: auto;
  background: white;
  transition: 0.5s;
}
.header .nav-link ul li:hover::after {
  width: 100%;
}
.header .toggle {
  width: auto;
  padding: 2% 6%;
}
.header .toggle .fa-solid {
  display: none;
  color: white;
  font-size: 22px;
}
.header .hero-banner {
  width: 100%;
  height: 100vh;
  background-color: #FB5C3E;
  position: absolute;
}
.header .hero-banner .banner-box {
  width: 100%;
  min-height: 40vh;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  background: linear-gradient(180deg, #F76000 0%, #FB5C3E 60.12%);
  mix-blend-mode: darken;
}
.header .hero-banner img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.2;
  background-size: cover;
  margin: auto;
}
.header .banner-img {
  width: 100%;
  min-height: 100vh;
  top: 0;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
}
.header .banner-img img {
  width: 65%;
  height: auto;
  position: relative;
  display: block;
  padding-top: 8%;
  margin: auto;
}

/*-------------- Media 700px -------------- */
@media (max-width: 700px) {
  .nav-link {
    position: absolute;
    background-color: #3E203A;
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    flex-direction: column !important;
    transition: 1s ease-in-out;
  }
  .nav-link .fa-solid {
    display: block !important;
    right: 30%;
  }
  .nav-link ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    margin: 0;
    right: 30%;
    width: 70%;
  }
  .nav-link ul li {
    display: block;
    position: relative;
    left: 30% !important;
    left: 0;
  }
  .nav-link ul:hover .services-list {
    display: block;
    position: relative !important;
    display: flex;
    flex-direction: column;
  }
  .nav-link ul:hover .services-list a:hover {
    color: #FB5C3E;
  }
  .toggle .fa-solid {
    display: block !important;
  }
}
/*-------------- Description -------------- */
.description {
  width: 100%;
  min-height: 100vh;
  background-color: #FB5C3E;
}
.description .cont1 {
  height: auto;
  padding: 100px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #FB5C3E;
}
.description .cont1 h1 {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0 0 0 10rem;
}
.description .cont1 .desc {
  padding: 0 10rem 0 2rem;
  flex-basis: fit-content;
}
.description .cont1 .desc .about {
  width: 100%;
  height: auto;
  position: relative;
}
.description .cont1 .desc .about a {
  text-decoration: none;
}

@media (max-width: 700px) {
  .description .cont1 {
    flex-wrap: wrap;
  }
  .description .cont1 h1 {
    font-size: 120px;
    text-align: center;
  }
  .description .cont1 h1 .h1-ungu {
    font-size: 120px;
    text-align: center;
  }
}
/*-------------- Project -------------- */
.cont_project {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #3E203A;
}
.cont_project .lead_project {
  height: 20%;
  position: relative;
}
.cont_project .lead_project h2 {
  text-align: center;
  padding: 25px;
  margin: 0;
}
.cont_project .catagories {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
  margin: 0;
}
.cont_project .catagories .project {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
  top: 0;
  flex-direction: row;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.cont_project .catagories .project img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 100%;
  transition: 1.5s;
}
.cont_project .catagories .project .project-box {
  display: none;
  background: #FB5C3E;
  height: 0%;
  width: 100%;
  top: 0;
  position: absolute;
  opacity: 0.8;
  transition: 1.5s;
}
.cont_project .catagories .project .project-box .project-tittle {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}
.cont_project .catagories .project .project-box .project-tittle h2 {
  font-size: 40px;
  text-align: center;
  position: relative;
  padding: 5%;
}
.cont_project .catagories .project .project-box .project-tittle p {
  color: white;
  text-align: center;
  position: relative;
  padding: 5%;
}
.cont_project .catagories .project:hover img {
  scale: 1.5;
}
.cont_project .catagories .project:hover .project-box {
  display: block;
  height: 100%;
}

.quote {
  width: 75%;
  background-color: #FB5C3E;
  position: relative;
  left: 25%;
  padding: 50px 0px;
}
.quote h2 {
  color: var(#3E203A);
  padding: 0 50px;
}

/*-------------- Client -------------- */
.client_box {
  position: relative;
  width: 100%;
  height: auto;
  padding: 100 0;
  background-color: #3E203A;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.client_box .client_lead {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  margin: 50px 0;
}
.client_box .client_lead h2 {
  margin: 0;
  text-align: center;
  top: 0;
  position: relative;
}
.client_box .client_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: static;
  bottom: 0;
  padding: 25px;
  width: 80%;
  align-content: center;
  margin: 50px 0 0 0;
}
.client_box .client_logo img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 30px;
  padding: 25px;
}

/*-------------- Section Footer -------------- */
.section-footer {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  display: flex;
}
.section-footer img {
  mix-blend-mode: normal;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}
.section-footer .footer_box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #464646;
  mix-blend-mode: multiply;
  right: 0;
  top: 0;
}
.section-footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 223px;
  width: 80%;
}
.section-footer .footer_desc {
  position: relative;
  top: 0;
  width: 75%;
}
.section-footer .footer_desc h2 {
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 116px;
  letter-spacing: -0.05em;
  color: white;
  margin: 50px 0;
}
.section-footer .footer_desc .address {
  width: auto;
  position: absolute;
  margin: 0;
  display: flex;
  flex-direction: row;
  bottom: 10%;
  flex-wrap: nowrap;
}
.section-footer .get-contact {
  width: 200px;
  height: 150px;
  margin: auto;
  z-index: 1;
  position: relative;
}
.section-footer .get-contact:hover .circle {
  transform: scale(15);
}
.section-footer .get-contact a {
  text-decoration: none;
}
.section-footer .get-contact a .get-in {
  font-family: "Campton", Poppins, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 60px;
  letter-spacing: -0.1em;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}
.section-footer .get-contact a .circle {
  width: 20px;
  height: 20px;
  background-color: #FB5C3E;
  border-radius: 50%;
  border-style: none;
  position: absolute;
  top: 72%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  stroke: none;
}/*# sourceMappingURL=main.css.map */