.main-details {
    width: 100%;
    height: auto;
    top: 0;
    position: absolute;

    img {
        width: 100%;
        height: 75vh;
        object-fit: cover;
        overflow: hidden;
        position: relative;
    }

    .desc-details {
        width: 80%;
        height: 25vh;
        background-color: white;
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        padding: 100px 0;
        
        .head-details {
            width: 30%;
            font-family: 'Campton', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 81px;
            letter-spacing: -0.05em;
            color: $orange-mmk;
        }

        .p2 {
            width: 50%;
            color: black;
        }
    }
    
    .cont-details {
        width: 80%;
        margin: auto;
        position: relative;
        top: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: minmax(300px, auto);
        grid-auto-flow: dense;
        gap: 15px;
        margin-bottom: 100px;
    
        .details-project {
            display: grid;
            transition: 0.5s;
            
                img {
                    position: relative;
                    margin-bottom: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        }
        .details-project:nth-child(1) {
            grid-column: span 2;
        }
        .details-project:nth-child(3) {
            grid-row: span 2;
        }
    }

}